USE [master]
GO

IF DB_ID (N'FourthCoffee') IS NOT NULL
BEGIN
	EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'FourthCoffee'
	ALTER DATABASE [FourthCoffee] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE FourthCoffee;
END

/****** Object:  Database [FourthCoffee]    Script Date: 11/14/2012 5:56:15 AM ******/
CREATE DATABASE [FourthCoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FourthCoffee', FILENAME = N'E:\Coding Projects\C#\Rumos\20483_Programming_in_C_Sharp\src\Bases-de-Dados\FourthCoffee.mdf' , SIZE = 5500KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FourthCoffee_log', FILENAME = N'E:\Coding Projects\C#\Rumos\20483_Programming_in_C_Sharp\src\Bases-de-Dados\FourthCoffee_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FourthCoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FourthCoffee]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 11/14/2012 5:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] NOT NULL,
	[BranchName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/14/2012 5:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Branch] [int] NULL,
	[JobTitle] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 11/14/2012 5:56:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobTitles](
	[JobTitleId] [int] NOT NULL,
	[Job] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Branches] ([BranchID], [BranchName]) VALUES (1, N'Head Office')
GO
INSERT [dbo].[Branches] ([BranchID], [BranchName]) VALUES (2, N'New York')
GO
INSERT [dbo].[Branches] ([BranchID], [BranchName]) VALUES (3, N'Washington DC')
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DateOfBirth], [Branch], [JobTitle]) VALUES (1001, N'Terry', N'Adams', CAST(0x7EFA0A00 AS Date), 2, 1)
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DateOfBirth], [Branch], [JobTitle]) VALUES (1002, N'Toni', N'Poe', CAST(0x50FC0A00 AS Date), 5, 2)
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [DateOfBirth], [Branch], [JobTitle]) VALUES (1003, N'Charlie', N'Herb', CAST(0xDDFB0A00 AS Date), 4, 3)
GO
INSERT [dbo].[JobTitles] ([JobTitleId], [Job]) VALUES (1, N'Branch Manager')
GO
INSERT [dbo].[JobTitles] ([JobTitleId], [Job]) VALUES (2, N'Barista')
GO
INSERT [dbo].[JobTitles] ([JobTitleId], [Job]) VALUES (3, N'Trainee Barista')
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Branches] FOREIGN KEY([Branch])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Branches]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_JobTitles] FOREIGN KEY([JobTitle])
REFERENCES [dbo].[JobTitles] ([JobTitleId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_JobTitles]
GO
USE [master]
GO
